{% extends "home/base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}


<link rel="stylesheet" href="{% static 'css/about_page.css' %}">
{% endblock extra_css %}

{% block content %}
{% include 'home/top-header.html' %}
{% include 'home/header-nav.html' %} 

<section class="page-title overlay" style="background-image: url(/static/images/bench-park.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-white font-weight-bold">About Stays in Mombasa</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>{{page.title}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>
 <!-- philosophy -->
<section class="section story">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-2 order-lg-1">
                <h5 class="section-title-sm"> Our Story</h5>
                <h2 class="section-title section-title-border-half">{{page.about_title}}</h2>
               {{page.approach|richtext}}
                
            </div>
            <!-- philosophy image -->
            <div class="col-lg-5 align-self-center order-1 order-lg-2 mb-md-50">
                <img class="img-fluid story w-100" src="/static/images/about2.png" alt="philosophy-image">
            </div>
        </div>
    </div>
</section>
<!-- /philosophy -->


  <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">value proposition </h5>
                <h2 class="section-title section-title-border"> </h2>
            </div>
<!-- ceo section -->
<section>
    <div class="container">
        <div class="row rounded bg-secondary">

            <!-- ceo image -->
            <div class="col-lg-5 rounded-left ceo-image" style="background-image: url(/static/images/apartments.png);"></div>
            <div class="col-lg-7">
                <!-- ceo content -->
                <div class="p-5">
                    <h2 class="section-title section-title-border-half-white text-white">We offer all clients
                        <br>  a comprehensive and cost-effective vacation</h2>
                   			{{page.value_proposition|richtext}}
                    
                    <h5 class="text-white">Doris Nteyie Lolngojine.</h5>
                    <h6 class="text-white">Founder</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /ceo section -->
<section class="section position-relative pb-xl-200-lg-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">Our Model</h5>
                <h2 class="section-title section-title-border">How we do this</h2>
            </div>
            <!-- process step -->
            <div class="col-lg-12 mb-xl-150-lg-100 text-center">
            	<p>
            		The company prides itself on giving the client the value-added extras to make their experience one of a life time. This is sort of advice that can only come from many years of personal experience in the Hospitality, travel and Tourism sectors.
            	</p>
            </div>
            <div class="col-lg-4 col-sm-6 mb-md-50">
                <div class="process-item py-xl-4 pl-xl-5 pt-5 px-4 rounded border position-relative">
                    <div class="process-item-number">1</div>
                    <h5 class="text-primary">Reduced Cost</h5>
                    <p>We reduce the cumulative cost of a housing unit thus eliminating the hefty interest that is ordinarily transferred to the end buyer by developers in where a debt model is employed. Stays in Mombasa has experienced phenomenal success mostly attributable to this unique housing model.</p>
                </div>
            </div>
            <!-- process step -->
            <div class="col-lg-4 col-sm-6 mb-md-50">
                <div class="process-item py-xl-4 pl-xl-5 pt-5 px-4 rounded border position-relative">
                    <div class="process-item-number">2</div>
                    <h5 class="text-primary">Affordability</h5>
                    <p>The company also ensures that it constructs quality and affordable housing units in attractive locations that have high rental yield. In addition to real estate investments, the company has also invested portions of its assets in the purchase of land in strategic areas for resale.</p>
                </div>
            </div>
            <!-- process step -->
            <div class="col-lg-4 col-sm-6 mb-md-50">
                <div class="process-item py-xl-4 pl-xl-5 pt-5 px-4 rounded border position-relative">
                    <div class="process-item-number">3</div>
                    <h5 class="text-primary">Vision</h5>
                    <p>We are currently developing housing units along Kikuyu road(3 Projects), Kitisuru (2 projects) and Athi River (Daystar)(1 project) using the equity model as described above. The rest of the capital is raised through presales of housing units. </p>
                </div>
            </div>
        </div>
    </div>
    <img class="arrow-top" src="/static/images/arrow-top.png" alt="">
    <img class="arrow-bottom" src="/static/images/arrow-bottom.png" alt="">
</section>
{% endblock %}