{% load static %}<!-- footer -->
<footer class="bg-secondary">
    <div class="py-100 border-bottom" style="border-color: #454547 !important">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="mb-5 mb-md-0 text-center text-md-left">
                        <!-- logo -->
                        <img class="mb-30" src="/static/images/stays.png" width="200px" alt="logo">
                        <p class="text-white mb-30">
                            The company’s success has been built on the philosophy of always giving the client the best possible personalized service. 
                        </p>
                        <!-- social icon -->
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon-outline" href="https://www.facebook.com/staysinmombasa">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <!-- <li class="list-inline-item">
                                <a class="social-icon-outline" href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li> -->
                            
                            <li class="list-inline-item">
                                <a class="social-icon-outline" href="https://www.linkedin.com/in/staysinmombasa-holiday-homes-0ab12b207/?originalSubdomain=ke">
                                    <i class="ti-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon-outline" href="https://www.instagram.com/staysinmombasa/?hl=en">
                                    <i class="ti-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- footer links -->
                <div class="col-lg-2 col-md-4 col-6">
                <h4 class="text-white mb-4">Services</h4>
                <ul class="footer-links">
                    <li>
                        <a href="/#history">Company History</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/#services">Service</a>
                    </li>
                    
                </ul>
                </div>
                <!-- footer links -->
                <div class="col-lg-2 col-md-4 col-6">
                <h4 class="text-white mb-4">Quick Link</h4>
                <ul class="footer-links">
                    <li>
                        <a href="/#history">Company History</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="/#services">Service</a>
                    </li>
                    
                </ul>
                </div>
                <!-- subscribe form -->
                <div class="col-lg-3 col-md-12 offset-lg-1">
                    <div class="mt-5 mt-lg-0 text-center text-md-left">
                        <h4 class="mb-4 text-white">Subscribe Us</h4>
                       
                        <form action="#" class="position-relative">
                            <input type="text" class="form-control subscribe" name="subscribe" id="Subscribe" placeholder="Enter Your Email">
                            <button class="btn-subscribe" type="submit" value="send">
                                <i class="ti-arrow-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="pt-4 pb-3 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <p class="text-white text-center text-md-left">
                        <span class="text-primary">Stays in Mombasa</span> &copy; 2019 All Right Reserved</p>
                </div>
                <!-- <div class="col-lg-6 col-md-7">
                    <ul class="list-inline text-center text-md-right">
                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="#">Legal</a>
                        </li>
                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="#">Sitemap</a>
                        </li>
                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item ml-lg-3 my-lg-0 ml-2 my-2 ml-0">
                            <a class="font-secondary text-white" href="#">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <!-- back to top -->
        <button class="back-to-top">
            <i class="ti-angle-up"></i>
        </button>
    </div>
</footer>
<!-- /footer --> 

    <!-- jQuery -->
<script src="{% static 'assets/plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'assets/plugins/magnific-popup/jquery.magnific.popup.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'assets/plugins/slick/slick.min.js' %}"></script>
<!-- mixitup filter -->
<script src="{% static 'assets/plugins/mixitup/mixitup.min.js' %}"></script>
<!-- Syo Timer -->
<script src="{% static 'assets/plugins/syotimer/jquery.syotimer.js' %}"></script>
<!-- aos -->
<script src="{% static 'assets/plugins/aos/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/mixitup.min.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'assets/js/script.js' %}"></script>
    
    

  

    <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script> -->
  <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/61c2f48dc82c976b71c2a015/1fngomld2';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
</body>
</html>