{% load static %}
<div class="col-lg-3 col-sm-6 mb-5  mix-target ongoing" >
    <div class="card text-center">
        <h4 class="card-title pt-3">Vacation Homes </h4>
        <div class="card-img-wrapper">
            <img class="card-img-top rounded-0" src="{% static 'images/homes.jpeg' %}" alt="service-image">
        </div>
        <div class="card-body p-0">
            <div>
                <p>
                    <i class="fas fa-map-marker-alt" style="margin-top: 6px;"></i>
                    Nyali
                </p>
            </div>
            <ul class="properties">
                <li><i class="fas fa-mosque"></i></li>
                <li><i class="fas fa-bed"></i>Beds</li>
                <li><i class="fab fa-500px"></i>Lifts</li>
                <li><i class="fas fa-warehouse"></i>Garage</li>
                <li><i class="fas fa-bath"></i>Baths</li>
                <li><i class="far fa-building"></i>Floors</li>
            </ul>
            <a href="our-portfolio" class="btn btn-secondary translateY-25">More Details</a>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6 mb-5  mix-target ongoing" >
    <div class="card text-center">
        <h4 class="card-title pt-3">Anniversaries and weddings </h4>
        <div class="card-img-wrapper">
            <img class="card-img-top rounded-0" src="{% static 'images/homes.jpeg' %}" alt="service-image">
        </div>
        <div class="card-body p-0">
            <div>
                <p>
                    <i class="fas fa-map-marker-alt" style="margin-top: 6px;"></i>
                    Nyali
                </p>
            </div>
            <ul class="properties">
                <li><i class="fas fa-mosque"></i></li>
                <li><i class="fas fa-bed"></i>Beds</li>
                <li><i class="fab fa-500px"></i>Lifts</li>
                <li><i class="fas fa-warehouse"></i>Garage</li>
                <li><i class="fas fa-bath"></i>Baths</li>
                <li><i class="far fa-building"></i>Floors</li>
            </ul>
            <a href="our-portfolio" class="btn btn-secondary translateY-25">More Details</a>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6 mb-5  mix-target ongoing" >
    <div class="card text-center">
        <h4 class="card-title pt-3">Corporate retreats</h4>
        <div class="card-img-wrapper">
            <img class="card-img-top rounded-0" src="{% static 'images/portfolio.jpeg' %}" alt="service-image">
        </div>
        <div class="card-body p-0">
            <div>
                <p>
                    <i class="fas fa-map-marker-alt" style="margin-top: 6px;"></i>
                    Intercontinental
                </p>
            </div>
            <ul class="properties">
                <li><i class="fas fa-mosque"></i></li>
                <li><i class="fas fa-bed"></i>Beds</li>
                <li><i class="fab fa-500px"></i>Lifts</li>
                <li><i class="fas fa-warehouse"></i>Garage</li>
                <li><i class="fas fa-bath"></i>Baths</li>
                <li><i class="far fa-building"></i>Floors</li>
            </ul>
            <a href="/our-portfolio" class="btn btn-secondary translateY-25">More Details</a>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6 mb-5  mix-target upcoming" >
    <div class="card text-center">
        <h4 class="card-title pt-3">Excursions </h4>
        <div class="card-img-wrapper">
            <img class="card-img-top rounded-0" src="{% static 'images/activity.jpeg' %}" alt="service-image">
        </div>
        <div class="card-body p-0">
            <div>
                <p>
                    <i class="fas fa-map-marker-alt" style="margin-top: 6px;"></i>
                    Yatch
                </p>
            </div>
            <ul class="properties">
                <li><i class="fas fa-mosque"></i></li>
                <li><i class="fas fa-bed"></i>Beds</li>
                <li><i class="fab fa-500px"></i>Lifts</li>
                <li><i class="fas fa-warehouse"></i>Garage</li>
                <li><i class="fas fa-bath"></i>Baths</li>
                <li><i class="far fa-building"></i>Floors</li>
            </ul>
            <a href="/our-portfolio" class="btn btn-secondary translateY-25">More Details</a>
        </div>
    </div>
</div>
