{% load static %}
<div class="col-lg-4 col-sm-6 mb-5  mix-target ongoing" >
    <div class="card text-center">
        <h4 class="card-title pt-3">Cascadia Apartments </h4>
        <div class="card-img-wrapper">
            <img class="card-img-top rounded-0" src="{% static 'images/aerialview.png' %}" alt="service-image">
        </div>
        <div class="card-body p-0">
            <div>
                <p>
                    <i class="fas fa-map-marker-alt" style="margin-top: 6px;"></i>
                    Nairobi, Two Rivers
                </p>
            </div>
            <ul class="properties">
                <li><i class="fas fa-mosque"></i></li>
                <li><i class="fas fa-bed"></i>3 Beds</li>
                <li><i class="fab fa-500px"></i>Lifts</li>
                <li><i class="fas fa-warehouse"></i>Garage</li>
                <li><i class="fas fa-bath"></i>0 Baths</li>
                <li><i class="far fa-building"></i>17 Floors</li>
            </ul>
            <a href="#" class="btn btn-secondary translateY-25">More Details</a>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-5  mix-target ongoing" >
    <div class="card text-center">
        <h4 class="card-title pt-3">Cascadia Apartments </h4>
        <div class="card-img-wrapper">
            <img class="card-img-top rounded-0" src="{% static 'images/aerialview.png' %}" alt="service-image">
        </div>
        <div class="card-body p-0">
            <div>
                <p>
                    <i class="fas fa-map-marker-alt" style="margin-top: 6px;"></i>
                    Nairobi, Two Rivers
                </p>
            </div>
            <ul class="properties">
                <li><i class="fas fa-mosque"></i></li>
                <li><i class="fas fa-bed"></i>3 Beds</li>
                <li><i class="fab fa-500px"></i>Lifts</li>
                <li><i class="fas fa-warehouse"></i>Garage</li>
                <li><i class="fas fa-bath"></i>0 Baths</li>
                <li><i class="far fa-building"></i>17 Floors</li>
            </ul>
            <a href="" class="btn btn-secondary translateY-25">More Details</a>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-5  mix-target upcoming" >
    <div class="card text-center">
        <h4 class="card-title pt-3">Cascadia Apartments </h4>
        <div class="card-img-wrapper">
            <img class="card-img-top rounded-0" src="{% static 'images/aerialview.png' %}" alt="service-image">
        </div>
        <div class="card-body p-0">
            <div>
                <p>
                    <i class="fas fa-map-marker-alt" style="margin-top: 6px;"></i>
                    Nairobi, Two Rivers
                </p>
            </div>
            <ul class="properties">
                <li><i class="fas fa-mosque"></i></li>
                <li><i class="fas fa-bed"></i>3 Beds</li>
                <li><i class="fab fa-500px"></i>Lifts</li>
                <li><i class="fas fa-warehouse"></i>Garage</li>
                <li><i class="fas fa-bath"></i>0 Baths</li>
                <li><i class="far fa-building"></i>17 Floors</li>
            </ul>
            <a href="" class="btn btn-secondary translateY-25">More Details</a>
        </div>
    </div>
</div>
