{% extends "home/base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}
{% block content %}
{% include 'home/top-header.html' %}
{% include 'home/header-nav.html' %}
<section class="page-title overlay" style="background-image: url(/static/images/390.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-white font-weight-bold">Our Portfolio</h2>
                <ol class="breadcrumb">
                    <li>{{page.body|richtext}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="search">
    <form class="container">
        <div class="row">
            <div class="col-md-3">
                <input type="" name="" class="form-control" placeholder="Property Name">
            </div>
            <div class="col-md-2">
                <select class="form-control" placeholder="Prefered specific location radius">
                    <option>
                        Nakuru
                    </option>
                    <option>
                        Nairobi
                    </option>
                    <option>
                        Mombasa
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="" name="" class="form-control" placeholder="Prefered specific location radius">
            </div>
            <div>
                <button class=" col-md-3 form-control">
                    Search
                </button>
            </div>
        </div>
    </form>
</section>
<section class="section portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">Featured Properties</h5>
                <h3 class="section-title section-title-border"></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    
                </p>
            </div>
        </div>
        <div class="row">
{% include 'home/featured_projects.html' %}  
         
       
        </div>

    </div>
</section>
<section class="section projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="section-title-sm">All Properties</h5>
                <h3 class="section-title section-title-border"></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="category Completed active filter-btn" data-filter="all">
                    <i class="fas fa-clipboard-list"></i>
                    <h3>Completed</h3>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="category Ongoing filter-btn" data-filter=".ongoing">
                    <i class="fas fa-tools"></i>
                    <h3>Ongoing</h3>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="category Launched filter-btn" data-filter=".launched">
                    <i class="fas fa-th-list"></i>
                    <h3>Launched</h3>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="category Upcoming filter-btn" data-filter=".upcoming">
                    <i class="fab fa-acquisitions-incorporated"></i>
                    <h3>Upcoming</h3>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row" id="mix-wrapper">
    {% include 'home/all_projects.html' %}
    </div>  
    </div>
</section>




{% endblock %}


