.hero-slider .slick-dots{
	bottom: 0;
}

.hero-slider .slick-dots{
	border-bottom: none;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.hero-slider-item::before{
	content: "";
	top: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(21, 12, 2, 0.12);
}
.hero-slider .slick-dots li.slick-active {
    background: rgb(114, 71, 27);
}
.hero-slider .slick-dots li::before{
	position: absolute;
    content: '';
    left: 50%;
    top: -12px;
    height: 25px;
    width: 25px;
    background: rgb(114, 71, 27);
    transform: translateX(-50%) rotate(-45deg);
    opacity: 0;
}


.hero-content{
	z-index: 100;
	position: relative;
	text-align: center;
	margin-top: 20vh;
}
.hero-content h4{
	color: #fff;
}
.hero-content h1{
	color: #fff;
}
.hero-content p{
	color: #fff;
}

.btn-outline {
    background: transparent;
    color: #fff;
    border: 2px solid #ffffff;
}


.hero-slider .slick-dots li{
	height: 70px;
}
.hero-slider .slick-dots li a span {
    font-size: 12px;
    line-height: 50px;
}
.logo{
	    position: absolute;
    
}
.logo img{
	
   width: 100px;
    margin: 20px -15px;
  
}
.top-header ul li a span {
    color: #ffaa58;
}

.top-header{
	background-color: transparent;
	position: absolute;
	z-index: 1;
	width: 100%;
}
.top-header .container:first-child{
	border-bottom: 1px solid #797979;

}
.square-icon{
background-color: #71471b !important;	
}