body{
background-color: rgba(138, 187, 125, 0.05);
}

	.top-header ul li a {
	font-size: 10px;
	color: #eaeaea;
}
.navigation{
	position: relative;
    margin-top: 35px;
    width: 100%;
    z-index: 1;
    background-color: transparent !important;
}
.navigation .navbar{
	background-color: transparent !important;
}
.navigation .navbar-brand{
	background-color: transparent;
}


.navbar-brand img{
	width: 100px;
}
.navigation .navbar .nav-item .nav-link{
	color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px;
}
.navigation .navbar .nav-item.active .nav-link{
	color: #ffffff;
    border-bottom: 2px solid #fff;
    
}
.navigation .navbar .nav-item {
    padding: 5px 0;
}

.top-header ul li {
    margin: 3px;
}

.nav-item.nav-btn{
	background-color: #c57d31;
    padding: 5px !important;
    margin-left: 15px;
    border-radius: 30px;
}

.navigation .navbar .nav-item .nav-link:hover {
    color: #ffc78d;
}
.slider{
	margin-top: -140px;
}
.round-icon{
	color: #71471b;
}
.section-title-border-half::after{
	background: #71471b;
}
.section-title-border-half::before{
	border-color: #71471b;
}
.section-title-border::before{
	border-color: #71471b;	
}
.progress-bar{
	background-color: rgba(88, 123, 0, 0.52);
}
.round-icon{
	border:1px solid #b54c001c;
}
.px-2.py-5 h4{
	font-size: 12px;
}
.px-2.py-5 i{
	color: #a05200 !important;
}
section.portfolio img{
	height: 260px;
}